:root{
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-container {
    width: 390px;
    height: 844px;
    background: #FFFFFF;
    border: 3px solid #011926;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.Status-bar {  
      
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 390px;
    height: 45.82px;
    background: #164864;
    top: 0;
}
.Nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 390px;
  height: 60.77px;
  top: 45.82px;
  background: #FFFFFF;
  box-shadow: 0px 63px 43px 0px #00000017;
}
.logo {
  width: 133.97px;
  height: 22px;
  top: 65.41px;
  left: 129.22px;
}
.admin-container p {
  position: absolute;
  width: 137px;
  height: 21px;
  top: 109px;
  left: 126.5px;
  font-family: SF Pro Display;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #164864;
}
.Status-container{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  height: 36.76px;
  top: 172.4px;
  background: #164864;
  padding: 0 20px;
}
.ID_Porudžbine, .Priprema_se, .Sprema {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #FFFFFF;
}

.ID_Porudžbine {
  width: 98px;
  font-size: 16px;
}

.Priprema_se {
  width: 62px;
  font-size: 12px;
}

.Sprema {
  width: 39px;
  font-size: 12px;
}

.Status-User-container {
  gap: 10px;
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
  height: 80%;
  top: 137.86px;
  padding: 10px
  
  
  
}

.order-row { 
  
    display: grid;
    grid-template-columns: 30px 120px 110px 130px; /* Definisanje raspodele širine kolona */
    align-items: center;
    width: 340px;
    height: 35.43px;
    background: #FFFFFF;
    box-shadow: 1px 1px 6px 1px #00000040;
    padding: 0 5px;
    

}

.order-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #164864;
}

.order-id {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #164864;
}

.order-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.24px;
  height: 17.24px;
  border-radius: 2px;
  border-width: 0.2px;
  background: #D9D9D9;
  border: 0.2px solid #164864;
}

.order-details {
  width: 100%;
  left: 50px;
  background: #FFFFFF;
  border-top: 1px solid #ccc; 
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.25);
  gap: 5px;

}

.order-details ul {
  padding: 0;
  margin: 0;
  list-style-type: none; /* Uklanja tačke sa liste */
  width: 100%;
  }

.order-details li {
  padding: 5px 10px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #248CC5;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(216, 212, 212, 0.1);
  transition: background 0.3s ease;
  
}

.order-details li:hover {
  background: #e0e0e0; 
}



 






   


    
    
    


  
