.Admin-profil {
    width: 1255px;
    height: 1154px;
    top: 2014px;
    left: 5484px;
    border-radius: 2px;
    border-width: 1px;
    background: #404040;
    border: 1px solid #FFFFFF1A
    

}