.admin-body {
  background: #FFFFFF;
}

.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.admin-container p {
  font-size: 18px;
  color: #164864;
}

.status-nav-menu {
  box-shadow: 0px 40px 24px 0px #0000001A;

  height: 40px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 130px;
  height: 25px;
  margin-bottom: 1.2rem;  
}

.Status-container {
  width: 310px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #164864;
  color: #FFFFFF;
  padding: 3px 15px;
  font-size: 12px;
  margin-bottom: -10px;
}

.ID_Porudžbine {
  font-size: 16px;
}

.Status-User-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.order-row {
  width: 310px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px;

  box-shadow: 1px 1px 5px 2px #00000040;
}

div.order-item {
  color: #164864;
}

.order-item-container {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.labelPriprema input, .labelSpremna input {
  display: none; /* Hide the default checkbox */
}

/* Style the artificial checkbox */
.labelPriprema span, .labelSpremna span {
  height: 15px;
  width: 15px;
  font-size: 12px;
  background: #D9D9D9;
  display: inline-block;
  position: relative;
  text-align: center;
}

/* Style its checked state...with a ticked icon */
[type=checkbox]:checked + span:before {
  content: '\2714';
}

.order-details ul{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  color: #248CC5;
  font-size: 12px;
  list-style-type: none;
}


 






   


    
    
    


  
