.homepage-body {
    background:#FFFFFF; 
    overflow: scroll;
}

.profile-main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding-bottom: 120px;
}

.profile-nav {
    background-color: white;
    width: 100%;
    max-width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 10px;
    margin-top: 30px;
    box-shadow: 0px 3px 7px 0px #00000026;
}

.profile-nav img {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    cursor: pointer;
}

.profile-nav a {
    margin-bottom: 10px;
    color: #248CC5;
}

.profile-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-main-container h1 {
    font-size: 18px;
    color: #164864;
}

.profile-main-container h2 {
    font-size: 14px;
    font-weight: 400;
    color: #717171;
;
}

.profile-main-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-about-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile-loyalty-program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.profile-loyalty-program h3 {
    font-size: 20px;
    color: #248CC5;
}

.profile-loyalty-program p {
    font-size: 14px;
    color: #717171;
    line-height: 21px;
    width: 265px;
    text-align: center;
    letter-spacing: -0.32px;
}

.profile-coffee-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.profile-coffee {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.circle-coffee {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #248CC5;
    box-shadow: 2px 2px 10px 0px #00000040;
    color: #FFFFFF;
    border: none;
    font-size: 10px;
}

.profile-coffee img {
    width: 30px;
    height: 30px;
}

.free-button:hover {
    box-shadow: 0px 0px 10px #164864;
}