.register-main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.register-nav {
    background-color: white;
    width: 100%;
    max-width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.register-nav img {
    width: 24px;
    height: 24px;
    margin-left: 30px;
}

.register-nav img:hover {
    cursor: pointer;
}

.register-main-container {
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 290px;
    max-width: 400px;
    text-align: center;
    margin-bottom: 40px;
}
  
.register-title h2 {
    color: #164864;
    margin: 0 0 1rem 0;
    font-size: 16px;
}

.register-title img {
    margin-top: 1.3rem;
    width: 170px;
    height: 30px;
}

.register-div-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: left;
    width: 95%;
    position: relative;
}
  
.register-form-group label {
    font-size: 14px;
    margin-bottom: 0.1rem;
    color: #164864;
}

.password-toggle-icon-register, .confirm-password-toggle-icon-register {
    position: absolute;
    right: 20px; 
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
}
  
input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #E8E8E8;
    font-size: 11px;
    padding-right: 40px !important;
}

input::placeholder {
    opacity: 0.7;
}
  
input:focus {
    border: 1px solid #89b4d4;
}

.register-div-submit {
    margin-bottom: 1rem;
}

.register-div-submit button {
    width: 95%;
    height: 35px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    margin: 20px 0 10px 0;
    cursor: pointer;


    background: linear-gradient(180deg, #164864 0.59%, #2C91CA 214.21%),
    linear-gradient(180deg, #164864 0.59%, #2C91CA 214.21%);
    box-shadow: 2px 2px 4px 0px #00000040;
}  

.register-div-submit button:hover {
    background: #248CC5;
}

.register-div-submit span, a {
    font-size: 11px;
}

.register-div-submit a {
    color: #248CC5;
}

.validation-rules {
    box-shadow: 0px 4px 8px 0px #00000040;
    background-color: #E8E8E8;
    margin-top: 5px;
    height: auto;
    padding: 10px;
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fullName::before, .email::before, .password::before, .confirmPassword::before {
    content: ""; 
    position: absolute;
    width: 0;
    height: 0;
    left: 100px; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid  #E8E8E8; 
}

.fullName::after, .email::after, .password::after, .confirmPassword::after {
    content: ""; 
    position: absolute; 
    width: 0;
    height: 0;
    left: 100px; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid  #E8E8E8; 
}

.fullName::before, .fullName::after {
    top: 245px; 
}

.email::before, .email::after {
    top: 320px;  
}

.password::before, .password::after {
    top: 390px;  
}

.confirmPassword::before, .confirmPassword::after {
    top: 465px;  
}

.validation-rules li {
    list-style: none;
    font-size: 10px;
}

.validation-rules li::before {
    content: url('../Images/validation.png');
    opacity: 0.3;
    margin: 0 5px;
}

.validation-rules li.valid::before {
    opacity: 1;
}

.register-warning {
    color: #EE3C3C;
    font-size: 12px;
    display: none;
}

@media (max-width: 420px) {
    .register-form-group label img {
        right: 90px; 
    }

    .fullName::after, .email::after, .password::after, .confirmPassword::after {
        left: 100px;
    }

    .fullName::before, .email::before, .password::before, .confirmPassword::before {
        left: 100px;
    }
}

@media (min-width: 410px) {   
    .register-form-group label img {
        right: 540px;
    }
    
    .fullName::before, .email::before, .password::before, .confirmPassword::before {
        left: 550px;
    }

    .fullName::after, .email::after, .password::after, .confirmPassword::after {
        left: 550px;
    }
}

