.status-body {
  background: #FFFFFF;
}

.Status-porudzbine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav-menu-status {
  background-color: white;
  width: 100%;
  max-width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 30px;
  box-shadow: 0px 3px 7px 0px #00000026;
}

.nav-menu-status img {
  width: 24px;
  height: 24px;
  margin-left: 30px;
}

.Status-Id-porudzbine {
  color: #248CC5;
  margin-top: 20px;
}

.timer-display {
  color: #164864;
  font-size: 24px;
  font-weight: bold;
}

.time-part {
  letter-spacing: 2px; /* Space out numbers */
}

.time-colon {
  margin: 0 5px; /* Space out colons */
}

.timer-container {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 10px;
}

.timer-container img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.status-circle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 272px;
  height: 24px;
}

.status-circle-container button {
  border: none;
  cursor: pointer;
}

.status-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 270px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  gap: 8px;
  margin-bottom: 20px; /* Razmak između liste i slike */
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74.92px;
  height: 28.95px;
  font-weight: bold;
  transition: color 0.3s;
}

.active {
  color: #0d3b66; /* Plava boja za aktivni status */
}

.inactive {
  color: #a0a0a0; /* Siva boja za neaktivni status */
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: gray;
  position: relative;
}

.active-circle {
  background: #248CC5; /* Plava boja za aktivni krug */
}

.inactive-circle {
  background-color: gray; /* Siva boja za neaktivni krug */
}

.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 11px;
  height: 9.43px;
  color: #FAF5E4;
  font-size: 12px; /* Veličina znaka ✔ */
}

.line {
  width: 92.1px;
  height: 0px;
  border: 1.12624px solid #BFBFBF;
}

.active-line {
  border-color: #0d3b66; /* Plava linija za aktivne statuse */
}

.inactive-line {
  border-color: #a0a0a0; /* Siva linija za neaktivne statuse */
}

.div-img img {
  height: 150px;
}

.div-message p{
  color: #164864;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 100px;
}