.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav {
    background-color: white;
    width: 100%;
    max-width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav img {
    width: 24px;
    height: 24px;
    margin-left: 30px;
}

.nav img:hover {
    cursor: pointer;
}

.main-container {
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 290px;
    max-width: 400px;
    text-align: center;
    margin-bottom: 40px;
}

.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-div h2 {
    color: #164864;
    margin: 0 0 1rem 0;
    font-size: 16px;
}

.main-div img {
    margin-top: 1.3rem;
    width: 170px;
    height: 30px;
}

.main-div p {
    color: #248CC5;
    font-size: 12px
}

.step1 input {
    width: 95%;
    margin: 60px 0 20px 0;
}

.step1 button, .step2 button, .step3 button, .step4 button {
    width: 95%;
    height: 35px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    margin: 20px 0 10px 0;
    cursor: pointer;


    background: linear-gradient(180deg, #164864 0.59%, #2C91CA 214.21%),
    linear-gradient(180deg, #164864 0.59%, #2C91CA 214.21%);
    box-shadow: 2px 2px 4px 0px #00000040;
}

.step-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}
  
.step-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #999;
    background: white;
    position: relative;
    margin-top: 10px;
    margin-bottom: 40px;

    z-index: 1;
}
  
.step-circle.active {
    border-color: #248CC5;
    color: #248CC5; 
}
  
.step-circle::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #ccc;
    top: 50%;
    left: -32px;
    transform: translateY(-50%);
}
  
.step-circle:first-child::before {
    display: none;
}
  
.step-circle.active::before {
    background-color: #248CC5;
}
  
.step2 input {
    width: 40px;
    height: 45px;
    border: #248CC5 solid 2px;
    background: #FFFF;
    color: #164864;
    font-size: 28px;
}

.code-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 60px 0 10px 0;
}

#p-code {
    color: black;
    margin-bottom: 20px;
}

#p-code span {
    color: #248CC5;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.input-password {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 30px 0;
    gap: 20px;
}

.input-password label {
    color: #164864;
    font-size: 14px;
}

.step4 h2 {
    margin-top: 120px;
}

.strength-indicator {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.strength-bar {
    height: 5px;
    flex-grow: 1;
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}

.strength-indicator {
    display: flex;
    gap: 5px;
    margin-top: -15px;
}

.strength-bar.red {
    background-color: red; /* Strength 1 */
}

.strength-bar.yellow {
    background-color: yellow; /* Strength 2 */
}

.strength-bar.green {
    background-color: green; /* Strength 3 and 4 */
}

button:hover {
    background: #2C91CA;
}